@import "../UI/Var.module.scss";

.calendar {
  grid-column: 4 / 6;
  grid-row: 1 / span 1;
  background-color: $cardBgColor;
  border-radius: 15px;
}

.text {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
