@import "../UI/Var.module.scss";

.projectTitleWrapper {
  display: flex;
  width: 80%;
  align-self: center;
}

.projectTitle {
  font-size: 1rem;
  flex: 1 0;
  margin: 0.3rem;
}

.icon {
  border-radius: 15px;
  align-self: center;
  width: 8%;
  height: auto;
  box-shadow: 0 0 5px black;

  &:hover {
    transform: scale(1.2);
    background-color: rgba(220, 20, 20, 0.726);
  }
}
