@import "../UI/Var.module.scss";

@mixin taskBasic {
  display: flex;
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.task {
  @include taskBasic;
  // padding: 6px 2px 0px 2px;
}

.taskChecked {
  @include taskBasic;
  align-self: flex-end;
}

.checkbox {
  width: 1.1rem;
  height: 1.1rem;
  margin: 0 0.7rem;
  align-self: center;
}

@mixin textBasic {
  height: 100%;
  margin: 0;
  padding-bottom: 0.1rem;
  flex: 1 0;
  text-decoration-thickness: 3px;
  align-self: center;
}
.text {
  @include textBasic;
  text-decoration: underline;
  font-weight: 400;
}

.textStrike {
  @include textBasic;
  text-decoration: line-through;
  font-weight: 300;
  color: grey;
}

.img {
  align-self: center;
  width: 1.1rem;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 0 5px black;
  margin: 0 0.7rem;

  &:hover {
    transform: scale(1.2);
    background-color: rgba(220, 20, 20, 0.726);
  }
}
